.titel{
    text-align: center;
}

#books{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#spinner{
    text-align: center;
}
.library{
    border: 2px solid tomato;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#spinner{
    display: none;
}